
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: century;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.navlist {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 200px;
    border-radius: 50px;
}
#home img {
    width: 50px;
    height: auto;
}

.navlist li {
    list-style: none;
    padding: 26px 15px;
    font-weight: bold ;
}

.navlist li a {
    text-decoration: none;
    color: lavender;
    padding: 8px 10px;
}

.navlist li a:hover {
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px pink;
    background-color: lightpink;
}

.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 2px;
    border: none;
    background-color: rgb(250, 211, 217);
}

.sect1 {
    background-color: green;
    height: 400px;
}

.sect2 {
    background-color: blue;
    height: 400px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.webdesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headings {
    font-family: "Piazzolla", serif;
    font-weight: bold;
    font-size: 35px;
}

.desc {
    font-size: 18px;
}
.cdesc img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.cdesc {
    width: 30%;
}

.btn {
    padding: 6px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    vertical-align: mi;
    font-weight: bold;
}
.btn:hover {
    background-color: lightpink;
    color: black;
    transition: all 0.3s ease;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.section-Left {
    flex-direction: row-reverse;
}

.java {
    padding: 0px 65px;
}

.thumbnail img {
    width: 250px;
    border-radius: 26px;
    margin-top: 19px;
    margin-left: 10px;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}
